

<div class="row">
  <div class="col-md-8">
    <h1>Test Page 1</h1>
  </div>
  <div class="col-md-4">
  <!-- page-home.html -->
  <h1>Angular Animations Shenanigans</h1>
  <h2>Home</h2>

  <a href="#about" class="btn btn-success btn-lg">About</a>
  <a href="#contact" class="btn btn-danger btn-lg">Contact</a>
  </div>
</div>
